<h3>References</h3>

<ul>
  <li>
    MINK ref.
  </li>
  <li>
    P. Rogen, B. Fain. (2003) Automatic classification of protein structure by using Gauss integrals. Proc Natl Acad Sci. Jan 7;100(1):119-24.
    [<%= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed/12506205", :popup => true %>]
  </li>
  <li>
  R. W. Montalvão, R. E. Smith, S. C. Lovell, T. L. Blundell. (2005) CHORAL: a differential geometry approach to the prediction of the cores of protein structures. Bioinformatics. 21(19):3719-3725; doi:10.1093/bioinformatics/bti595
  [<%= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed/16046494", :popup => true %>]
  </li>
  <li>
  A. Sali, T. L. Blundell. (1990) Definition of general topological equivalence in protein structures. A procedure involving comparison of properties and relationships through simulated annealing and dynamic programming. J Mol Biol. Mar 20;212(2):403-28.
  [<%= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed/2181150", :popup => true %>]
  </li>
  <li>
  H.M. Berman, J. Westbrook, Z. Feng, G. Gilliland, T.N. Bhat, H. Weissig, I.N. Shindyalov, P.E. Bourne (2000) The Protein Data Bank. Nucleic Acids Research, 28 pp. 235-242.
  [<%= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed/10592235", :popup => true %>]
  </li>
  <li>
  A. G. Murzin, S. E. Brenner, T. Hubbard C. Chothia. (1995) SCOP: a structural classification of proteins database for the investigation of sequences and structures. J. Mol. Biol. 247, 536-540.
  [<%= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed/7723011", :popup => true %>]
  </li>
</ul>
