<h3>ASTRAL SCOP <%= Scop::version %> Representative Domains (PID cutoff: 95)</h3>

<% form_tag mink_vectors_path, :method => "get" do %>
  <%= text_field_tag :query, params[:query], :size => 30 %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @query.blank? %>
  <br />
  <%= will_paginate @mink_vectors %>
  <br />

  <%= render(:partial         => "mink_vector",
            :collection      => @mink_vectors,
            :spacer_template => "/shared/list_spacer") %>

  <br />
  <%= will_paginate @mink_vectors %>
<% else %>
  <% if (@mink_vectors &&
         @mink_vectors.size > 0 &&
         @mink_vectors.total_entries > 0) %>
         <h4>Query: <font color='green'><%= @query %></font>, Hits: <font color='green'><%= @mink_vectors.total_entries %></font></h4>
    <%= will_paginate @mink_vectors %>
    <br />

    <%= render(:partial         => "mink_vector",
               :collection      => @mink_vectors,
               :spacer_template => "/shared/list_spacer") %>

    <br />
    <%= will_paginate @mink_vectors %>
  <% else %>
    <h4>Query: <font color='green'><%= @query %></font>, Hits: <font color='green'>0</font></h4>

    Sorry. No hits found.
  <% end %>
<% end %>
