<h3>MINK Vector Search</h3>
<table id="mink_search_form" align="center">
<% form_for @mink_search, :html => { :multipart => true } do |f| %>
  <tr>
    <td>
      PDB file
    </td>
    <td>
      <%= f.file_field :pdb %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :cutoff %><sup>1</sup>
    </td>
    <td>
      <%= f.text_field :cutoff %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :email %><sup>2</sup>
    </td>
    <td>
      <%= f.text_field :email %>
    </td>
  </tr>
  <tr>
    <td colspan=2 style="text-align: center">
      <%= f.submit "Submit" %>
    </td>
  </tr>
<% end %>
</table>
<ol>
  <li>
  We recommend you to use X.XX for maximum distance cutoff. According to the anlaysis we performed (link to article), X.XX roughly detect simlar structures at the SCOP super family level.
  </li>
  <li>
  If you provide a proper email address, you will be notifed when your job is done.
  </li>
</ol>
