<!DOCTYPE HTML PUBLIC "-//W4C//DTD XHTML 1.0 Transitional//EN">
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>
      "MINK: Mega fast, Incredibly easy, Notably Keen Structure Similarity Detector"
    </title>
    <%= javascript_include_tag :defaults, :cache => true %>
    <%= stylesheet_link_tag :all %>
  </head>

  <body>

    <div>
      <h2><i>MINK: Mega fast, Incredibly easy, Notably Keen Structure Similarity Detector</i></h2>
      <div class="black_link">
        <%= link_to "Home", "/" %> |
        <%= link_to "News", :controller => "main", :action => "news" %> |
        <%= link_to "Browse", "#" %> |
        <%= link_to "Search", new_mink_search_path %> |
        <%= link_to "References", :controller => "main", :action => "references" %> |
        <%= link_to "Contacts", :controller => "main", :action => "contacts" %>
      </div>
    </div>

    <hr>

    <div id="main"> 
      <%= yield :layout %>
    </div>

    <hr>

    <div id="footer" class="black_link"> 
      &copy; 2009 <%= link_to "The Crystallography and Biocomputing Group", "http://www-cryst.bioc.cam.ac.uk", :popup => true %>, <%= link_to "Department of Biochemistry", "http://www.bioc.cam.ac.uk", :popup => true %>, <%= link_to "University of Cambridge", "http://www.cam.ac.uk", :popup => true %>, UK
    </div>

  </body>
</html>

